h1{
    font-family: 'Lato', sans-serif;
    color: blue;
}
h2{
    font-family: 'Lora', serif;
    color: salmon;
}
h3{
    font-family: 'Oswald', sans-serif;
    color: red;
}
h4{
    font-family: 'Poppins', sans-serif;
    color: purple;
}
h5{
    font-family: 'Roboto', sans-serif;
    color: brown;
}
h6{
    font-family: 'Rubik Bubbles', cursive;
    color: green;
}
.para-1{
    font-family: 'Anton', sans-serif;
    color: slateblue;
}
.para-2{
    font-family: 'Dancing Script', cursive;
    color: tomato;
}
.para-3{
    font-family: 'Mulish', sans-serif;
    color: teal;
}
.para-4{
    font-family: 'Pacifico', cursive;
    color: palevioletred;
}
.para-5{
    font-family: 'Indie Flower', cursive;
    color: crimson;
}
.para-6{
    font-family: 'Amatic SC', cursive;
    color:orange;
}
