
body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}
/* header style start */
.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
}
 .header{
     margin-top: 70px;
    position: sticky;
    top:0;
} 
.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav img{
    width: 200px;
    height: 34px;
}



.nav ul li{
    list-style: none;
   display: inline-block;
  margin-right: 60px;
} 

.nav ul li a{
    text-decoration: none;
    color: black;  
} 
.nav div{
    display: inline-block;

}
.nav ul li :hover{
    color:lightseagreen;
} 
.nav ul div :hover{
    color: lightseagreen;
}
/* header style end */
/* banner section style start */
.banner-image{
    margin-top: 70px;
}
.banner-image img{
    border-radius: 10px;
    width: 100%;
}
.author-identity ul{
    display: flex;
    gap: 20px;
    padding-left: 10px;
}
.author-identity ul li img{
    border-radius: 50%;
    width: 30px;
}
.author-identity ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap:5px
}
.author-identity ul li:hover{
    color: lightseagreen;
}
div h1:hover{
   color: lightseagreen; 
}
/* banner section style end */
/* card section start */
.post{
    margin-top: 90px;
    display: flex;
}
.card-image img{
    width:520px;
    height: 286px;
    border-radius: 10px;
}
.card div h2{
    font-size: 40px;
}
.card div h3{
    font-size: 35px;
}
.card div ul li:hover{
    color:lightseagreen;
}

.card div h2:hover{
    color: lightseagreen;
}
.card div h3:hover{
    color: lightseagreen;
}
/* card section end */
/* footer section start */
footer{
    background-color: rgb(21, 32,53);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 30px;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: gray;
}
footer ul li a:hover{
    color:white;
}
footer p{
    margin-top:50px;
    text-align: center;
    color:white;
}
.link{
    margin-top: 30px;
}
.link a{
    border: 1px solid white;
    padding: 10px;
    border-radius: 7px;
}
.link a{
    color: white;
    font-size: 20px;
}
.link a:hover{
    color: lightseagreen;
}